# EDA

In [4]:
import pandas as pd
import numpy as np
import os
import pickle
import math

In [5]:
def file_paths(path='./nfl-big-data-bowl-2021/weeks/'):
    """get file paths of all raw nfl game data split by week"""
    
    return sorted(['.' + os.sep + os.path.relpath(path) + os.sep + p for p in os.listdir(path) if not p.startswith('.')])

In [6]:
def gen_week_data(start=1, stop=17, level=0):
    paths = file_paths()                                                                                        # paths of all .csv files
    weeks = list(range(start, (stop+1)))                                                                        # convert week range to list

    if level == 0:
        for week in weeks:                                                                                          # iterate over lists
            if any([(f'week{str(week)}.csv') in p for p in paths]):                                                 # check if file path exists for week

                data = pd.read_csv(file_paths()[np.array([(f'week{str(week)}.csv') in p for p in paths]).argmax()]) # get index location from list containing all file paths of specified week
                data['week'] = week                                                                                 # assign week column to output 
                yield data                                                                                          # return data for given week
    else:
        for week in weeks:
            path=f'./data/level_{level}/l{level}_week_{week}.csv'
            data = pd.read_csv(path, compression='zip')
            yield data

# Data Storage

In [7]:
path = './data/stores/ball_specs.pkl'
with open(path, 'rb') as f:
    ball_specs = pickle.load(f)

In [8]:
path = './data/stores/home_away.pkl'
with open(path, 'rb') as f:
    home_away = pickle.load(f)

In [9]:
path = './data/stores/possession.pkl'
with open(path, 'rb') as f:
    off_def = pickle.load(f)

In [10]:
path = './data/stores/targeted.pkl'
with open(path, 'rb') as f:
    targeted = pickle.load(f)

In [11]:
path = './data/stores/pass_complete.pkl'
with open(path, 'rb') as f:
    pass_complete = pickle.load(f)

In [12]:
weeks = gen_week_data(level=4)
week = next(weeks)
week.head()

,gameId,playId,frameId,displayName,opp_s,opp_o,opp_a,opp_dis,opp_dir,opp_dist,...,ball_x,ball_y,ball_s,ball_a,ball_dis,team_name,possession,dist_ball,target_loc,pass_complete
0,2018090600,75,1,Malcolm Jenkins,0.00,257.61,0.00,0.00,193.97,1.916899,...,90.11,26.85,0.0,0.0,0.0,PHI,0,9.697051,Julio Jones,1
1,2018090600,75,1,Corey Graham,0.01,250.34,0.02,0.01,151.83,4.983252,...,90.11,26.85,0.0,0.0,0.0,PHI,0,6.153503,Julio Jones,1
2,2018090600,75,1,Rodney McLeod,0.00,289.57,0.01,0.02,240.93,18.203544,...,90.11,26.85,0.0,0.0,0.0,PHI,0,16.573575,Julio Jones,1
3,2018090600,75,1,Jordan Hicks,0.00,257.61,0.00,0.00,193.97,6.617469,...,90.11,26.85,0.0,0.0,0.0,PHI,0,5.604445,Julio Jones,1
4,2018090600,75,1,Ronald Darby,0.01,250.34,0.02,0.01,151.83,8.717477,...,90.11,26.85,0.0,0.0,0.0,PHI,0,9.761967,Julio Jones,1

In [13]:
week.shape

(986012, 36)